@model IEnumerable<GameLibraryApp.Models.Ratings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr style="background-color:steelblue; font-weight:bold;box-shadow:3px 3px darkorange">
            <th>
                @Html.DisplayNameFor(model => model.RatingValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rating">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rating">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rating">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
